.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-width: 9rem;
    min-height: 9rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.5rem;
    transition: transform .2s;
}

.card-container p {
    text-align: center;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

.card-container:hover {
    transform: scale(1.2);
}

.card-clicked {
    background-color: lightgrey;
    text-decoration: line-through;
}

.card-clicked img {
    opacity: 50%;
}