.drop-zone {
    margin-top: 1em;
    width: fit-content;
    padding-top: 0.6em;
    padding-bottom: 1em;
    padding-inline: 4em;
    text-align: center;
    background-color: aqua;
    border-radius: 1em;
}