.selected-person-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    border-radius: 2em;
    background-color: rgb(215, 233, 250);
    border: 1.5px solid rgb(99, 147, 177);
}

.selected-person-title {
    text-align: center;
    margin-top: 0.5em;
}

.not-selected {
    min-width: 15em;
    min-height: 10em;
    align-items: center;
    gap: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}
